
/* BEGENNING OF "contact" PAGE*/
@font-face {
  font-family: 'Acme';
  src: url(/font/Acme/Acme-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Acme', sans-serif;
  background-color: transparent; /* Plus de fond global ici */
}


.page-wrapper {
  background-color: #4a768b;
}

.contact-section {
  background-color: #4a768b;

  .contact-title {
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 2px 2px 0 #000;
  
  }

  .contact-box {
    background-color: #2f4a57;
    clip-path: polygon(
      5% 10%, 15% 0%, 30% 5%, 50% 0%, 70% 5%, 85% 0%, 95% 10%,
      100% 30%, 95% 50%, 100% 70%, 95% 90%, 85% 100%, 70% 95%,
      50% 100%, 30% 95%, 15% 100%, 5% 90%, 0 70%, 5% 50%, 0 30%
    );
  }

  .send-btn {
    background-color: #ffcc00;
    border: 2px solid black;
    text-transform: uppercase;
    font-style: italic;

    &:hover {
      background-color: darken(#ffcc00, 10%);
    }
  }
}


  button {
    border-radius: 0;
  }


.menu-btn {
  border-radius: 0;
  border: 2px solid #000;
}
/* END OF "contact" PAGE*/

